:root
{
    --key-color: hsl(168, 90%, 20%);
    --light-color: hsl(174, 48%, 92%);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111;
}

button, a
{
    cursor: pointer;
}

header
{
    background-color: var(--key-color);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header input
{
    padding: 5px;
}

header *
{
    color: #fff;
}

nav
{
    display: flex;
    width: 100%;
    padding: 10px 30px;
    border-block: 1px solid;
}

nav .root
{
    display: flex;
    padding: 7px;
    height: fit-content;
}

nav .root .parent
{
    margin-left: 30px;
    height: fit-content;
}

nav .root .parent > span:hover,
nav .root .child > span:hover
{
    text-decoration: underline;
}

nav .showAllPosts
{
    width: 140px;
    margin-block: 0;
}

.container
{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
}

.categories, .greeting
{
    border: 1px solid #767676;
    width: 220px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.greeting h2
{
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
}

.greeting h2 small
{
    font-size: 17px;
    margin-right: 10px;
    font-weight: 400;
}

.greeting a
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;

    background-color: var(--key-color);
    border: 1px solid var(--key-color);
    color: #fff;

    transition: all 0.5s;
}

.greeting a:hover
{
    background-color: #fff;
    border: 1px solid var(--key-color);
    color: var(--key-color);
}

.categories h1
{
    font-size: 20px;
    font-weight: 500;
    margin-block: 10px;
}

.root
{
    list-style-type: none;
}

.showAllPosts
{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-block: 20px;
    text-decoration: none;
    font-weight: 600;

    background-color: #fff;
    border: 1px solid var(--key-color);
    color: var(--key-color);

    transition: all 0.5s;
}

.showAllPosts:hover
{
    background-color: var(--key-color);
    border: 1px solid var(--key-color);
    color: #fff;
}

aside .parent
{
    margin-top: 10px;
}

.parent > span
{
    font-weight: 600;
    font-size: 20px;
}

aside .parent > span::after
{
    content: "\2335";
    margin-left: 10px;
}

.child
{
    display: none;
    margin-left: 15px;
    margin-top: 10px;
}

.child.show
{
    display: block;
}

.child > span
{
    font-weight: 500;
    font-size: 17px;
}

aside .child > span::after
{
    content: "\2335";
    margin-left: 10px;
}

.child li
{
    font-weight: 400;
    margin-left: 15px;
    margin-top: 5px;
    list-style-type: circle;
    display: none;
    cursor: pointer;
}

.child li:hover
{
    color: var(--key-color);
    font-weight: 600;
}

.child li.show
{
    display: list-item;
}

.popular
{
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
}

.popular > h1
{
    font-size: 20px;
    font-weight: 500;
}

main
{
    width: calc(100% - 220px - 50px);
}

main > h1
{
    font-weight: 600;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.post
{
    border: 1px solid #767676;
    height: 160px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.post h1
{
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
}

.post:hover
{
    border: 1px solid var(--key-color);
}

.post:hover h1
{
    font-weight: 600;
    text-decoration: underline;
}

.post:hover p
{
    font-weight: 500;
}

.info
{
    display: flex;
}

.info span
{
    font-size: 15px;
    font-weight: 400;
    padding-right: 10px;
    border-right: 1px solid;
}

.info span:not(:first-child)
{
    padding-left: 10px;
}

.info span:last-child
{
    border-right: none;
}

.article > div
{
    background-color: #f7f7f7;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 20px 25px;
}

.article h1
{
    margin-top: 15px;
}

.article p
{
    white-space: pre-wrap;
    padding: 30px 40px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 17px;
    line-height: 1.5;
}

.others
{
    border: 1px solid;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
}

.others > h1
{
    font-size: 20px;
    font-weight: 500;
}

.popular ul, .others ul
{
    padding: 5px 15px;
    margin-top: 5px;
}

.link
{
    margin-bottom: 5px;
    text-decoration: underline;
}

footer
{
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1
{
    font-size: 15px;
    font-weight: 400;
}